#auth_container {
  font-family: $base-font-family;

  position: absolute;
  height: 100%;
  width: 100%;

  padding: 0 calc(50% - 238px);

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $main-color;

  @media screen and (max-width: 492px) {
    padding: 0 8px;
  }

  .logo {
    height: auto;

    >img {
      max-width:100%;
    }
  }

  a {
    margin: 12px auto 0;
    font-size: 12px;
  }
}

#auth_form {
  position: relative;
  padding: 24px;

  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);

  .error {
    line-height: 0;
    font-size: 12px;
    color: $ui-red;
  }
}
